table {
		border-collapse: collapse;
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
}

td,th {
		padding: 0.2rem;
}

tr:nth-child(odd) {
		background-color: #1d2021;
}

tr:first-child {
		background-color: #282828;
}

td:first-child {
		border-right: solid 1px #000a;
}

table a {
		color: #b8bb26;
		text-decoration: none;
		font-weight: 800;
}
