body {
    background-color: black;
	color: #ebdbb2;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 2rem;
	margin: auto;
	max-width: 69ch;
	padding-inline: 1.25rem;
}

#head {
	text-align: center;
	border-bottom: 2px solid #ebdbb2;
	margin-top: 2rem;
}

#tail {
	text-align: center;
	border-top: 2px solid #ebdbb2;
	margin-bottom: 2rem;
}

#head p {
	display: inline-flex;
}
#head p.logo {
	font-size: 24px;
}

#body .logo {
	font-size: 10em;
	margin-bottom: 2rem;
	text-align: center;
}

#head a {
		text-decoration: none;
		color: #ebdbb2;
		margin-left: 2em;
}

#body img {
		max-width: 100%;
}
